<html>
    <head>
        <title>
            
        </title>
    </head>
    
    <body>
        <div>
            <h3>Sunday</h3>
            <hr>
            <ul>
                {{#each sun.Sunday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Monday</h3>
            <hr>
            <ul>
                {{#each mon}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Tuesday</h3>
            <hr>
            <ul>
                {{#each tue}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Wednesday</h3>
            <hr>
            <ul>
                {{#each wed}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Thursday</h3>
            <hr>
            <ul>
                {{#each thur}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Friday</h3>
            <hr>
            <ul>
                {{#each fri}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Saturday</h3>
            <hr>
            <ul>
                {{#each sat}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
    </body>
</html>