<html>
    <head>
        <title>
            
        </title>
    </head>
    
    <body>
        <div>
            <h3>Sunday</h3>
            <hr>
            <ul>
                {{#each waiterName.Sunday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Monday</h3>
            <hr>
            <ul>
                {{#each waiterName.Monday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Tuesday</h3>
            <hr>
            <ul>
                {{#each waiterName.Tuesday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Wednesday</h3>
            <hr>
            <ul>
                {{#each waiterName.Wednesday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Thursday</h3>
            <hr>
            <ul>
                {{#each waiterName.Thursday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Friday</h3>
            <hr>
            <ul>
                {{#each waiterName.Friday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div>
            <h3>Saturday</h3>
            <hr>
            <ul>
                {{#each waiterName.Saturday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        
    </body>
</html>