<html>
    <head>
        <title>
            
        </title>
    </head>
    
    <body>
        
        <h1>AVAILABLE WAITERS</h1>
        
        <table>
            <thead>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </thead>
            <tbody>
                <td>                
                    {{#each waiterName.Sunday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each waiterName.Monday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each waiterName.Tuesday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each waiterName.Wednesday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each waiterName.Thursday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each waiterName.Friday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each waiterName.Saturday.waiter}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                
                

            </tbody>
        </table>
        
    </body>
</html>